@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main {
  position: relative;
  flex: 1;
  align-items: center;
  background-color: #677987;
}

.categoryLinks {
  max-width: 150px;
  width: 150px;
  margin: 20px;
  max-height: 200px;
  border: 1px solid steelblue;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: #ffd404;
  font-family: inherit;
  transition: background-color, color;
  /* transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out; */
  /*box-sizing: border-box;
  overflow: auto;
  flex: 0 0 50%;
  justify-content: center;*/
}
.categoryLinks:hover {
  background-color: #282d31;
  color: #98864e;
}
.categoryLinks:hover img {
  /* filter: hue-rotate(-150deg); */
  filter: invert(100%);
}

.terHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd404;
  font-family: "EB Garamond", serif;
}
.terLanding {
  justify-content: center;
  flex-direction: row;
  padding: 150px;
  padding-top: 10px;
  /* padding-left: 100px;
  padding-bottom: 50px;
  padding-right: 100px; */
  min-height: 700px;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  background-color: #677987;
}
.landingKatalog {
  padding-top: 150px;
  padding-bottom: 0px;
  background-color: #677987;
  justify-content: center;
  text-align: center;
}
.landingHeader {
  background-color: #ffd404;
  width: 500px;
  margin: 20px;
  height: 100px;
  border: 1px solid steelblue;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  background-color: #ffd404;
  font-family: inherit;
  font-size: 7vh;
}
.form-input-search {
  width: 490px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.terFooter {
  /* display: flex; */
  background-color: #ffd404;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.nav-link {
  color: black;
  padding: 1vh;
}
.account-form {
  padding: 5vh;
  justify-content: center;
  display: flex;
  position: relative;
  box-sizing: border-box;
}
.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-submit {
  width: 100%;
  background-color: #ffd404;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.productLanding {
  margin: 50px;
  margin-top: 150px;
  /* padding-left: 100px;
  padding-bottom: 50px;
  padding-right: 100px; */
  padding-top: 40px;
  min-height: 700px;
  flex-wrap: wrap;
  display: flex;
  background-color: #677987;
  justify-content: center;
}
/* .productLinks {
  width: 80%;
  margin: 20px;
  border: 1px solid steelblue;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  background-color: #ffd404;
  font-family: inherit;
  transition: background-color, color;
} */

.productCard {
  min-width: 90%;
  /*min-height: 200px;*/
  margin: 20px;
  border: 1px solid steelblue;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffd404;
  font-family: inherit;
  display: flex;
}
.productCard_Image {
  max-height: 100px;
  max-width: 100px;
  margin: 10px;
  flex: 1;
}
.productCard_Text {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  padding: 10px;
}
.productCard_Description {
  width: 100%;
  /* border: 1px solid black;
  border-right: none;
  border-bottom: none; */
  height: 75%;
  padding: 5px;
}
.productCard_cashaz {
  width: 100%;
  font-weight: 900;
  height: 25%;
  border-bottom: 1px solid black;
}
.productCard_Button {
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.header_Image {
}
